@font-face {
    font-family: 'myriad';
    src: url('fonts/myriad.ttf');
}

@font-face {
    font-family: 'athelas';
    src: url('fonts/athelas.ttf');
}

@font-face {
    font-family: 'baskerville';
    src: url('fonts/baskerville.ttf');
}

@font-face {
    font-family: 'vani';
    src: url('fonts/vani.ttf');
}

@font-face {
    font-family: 'quattrocentosans';
    src: url('fonts/quattrocentosans.ttf');
}

@font-face {
    font-family: 'fontawesome';
    src: url('fonts/fontawesome.ttf');
}


* {
    margin: 0;
}

html {
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

#header p {
    font-family: 'myriad';
    opacity: 71%;
    font-size: 18pt;
    font-weight: lighter;
    color: #d7794a;
    margin-left: 57px;
    letter-spacing: 2px;
}

#header {
    height: 121px;
    align-items: center;
    display: flex;
}

#menu {
    height: 78px;
    background-color: #406179;
}

#first_button {
    margin-left: 57px;
}

#menu input {
    background-color: #406179;
    color: white;
    border: 0;
    height: 78px;
    padding-right: 20px;
    padding-left: 20px;
    font-family: 'myriad';
    font-size: 14pt;
    letter-spacing: 2px;
    transition: 0.5s;
}

#menu [type="submit"]:hover {
    background-color: #3a6884;
    color: black;
}

#title {
    background-color: #384459;
    height: 696px;
    text-align: right;
}

#tp1 {
    font-family: 'baskerville';
    color: white;
    letter-spacing: 2px;
    font-size: 56pt;
    padding-top: 440px;
    margin-right: 7%;
}

#tp2 {
    font-family: 'athens';
    font-size: 33pt;
    color: #d7794a;
    letter-spacing: 2px;
    margin-top: 14px;
    margin-right: 16%;
}

#teamleaders {
    height: 1777px;
    text-align: center;
}

.lead {
    width: 448px;
    height: 569px;
}

#tlp1 {
    font-family: 'athelas';
    font-size: 47pt;
    color: #a95e39;
    letter-spacing: 2px;
    padding-top: 265px;
}

hr {
    background-color: #a95e39;
    border: 0;
    height: 0.5px;
    margin-left: 38%;
    margin-right: 38%;
    margin-top: 25px;
}

#tlp2 {
    font-family: helvetica;
    font-size: 24pt;
    line-height: 0.8em;
    margin-top: 85px;
}

#tlp2::selection, .count::selection {
    text-shadow: 1px 1px 5px #b040b0;
}

#teamleaders img {
    top: 38.5%;
}

[id="centerimg"] {
    margin-left: 90px;
    margin-right: 90px;
}

#names {
    display: flex;
    justify-content: space-evenly;
    margin-top: 130px;
}

#names img {
    margin-bottom: 2%;
}

.pnames {
    
    font-family: helvetica;
    font-size: 23pt;
    margin-top: 28px;
}

.description {
    font-family: Helvetica;
    font-size: 16pt;
    margin-top: 51px;
}

#counters {
    height: 340px;
    background-color: #3a445c;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}


.count {
    font-family: 'vani';
    font-size: 60pt;
    color: #89553c;
    padding-top: 80px;
}

.count-description {
    font-family: 'myriad';
    font-size: 20pt;
    margin-top: -10px;
    color: white;
}

#firstcount {
    padding-left: 5%;
}

#lastcount {
    margin-right: 5%;
}


#contact {
    height: 1435px;
    background-image: radial-gradient(100% 50% ellipse at bottom, #383a41, #2f3239);
    text-align: center;
}


#cp1 {
    font-family: 'athelas';
    font-size: 48pt;
    letter-spacing: 3px;
    color: white;
    padding-top: 290px;
}

#cp2 {
    font-family: 'quattrocentosans';
    font-size: 22pt;
    color: #b0b2b3;
    margin-top: 45px;
    line-height: 1.4em;
}

#cform {
    margin-top: 70px;
}

.short, .long, #cform select, #cform textarea {
    font-family: 'quattrocentosans';
    font-weight: bold;
    font-size: 16pt;
    background-color: transparent;
    color: #b0b2b3;
    margin: 37px;
    outline: none;
    border-width: 0 0 2px;
    border-color: #b0b2b3;
    line-height: 1.4em;
    opacity: 70%;
}

#cform select {
    padding: 4px;
}

#message {
    resize: none;
   
}

.short {
    width: 25%;
}

.long {
    width: 54.4%;
}

.short:focus, .long:focus {
    outline: none;
}

#contactus {
    font-family: 'myriad';
    font-size: 17pt;
    letter-spacing: 2px;
    margin-top: 30px;
    padding: 20px 50px;
    color: white;
    background-color: #89553b;
    border-style: solid;
    border-color: #623621;
    margin-left: 43%;
    transition: 0.5s;
    
}

#contactus:hover {
    background-color: #383a41;
    border-color: #b0b2b3;
}

#about {
    height: 1267px;
    display: flex;
    align-items: center;
}

#png {
    margin-left: 3%;
}

#png img {
    width: 906px;
    height: 599px;
}

.aboutpic {
    width: 139px;
    height: 138px;
    border-radius: 60px;
}

#us {
    height: 528px;
    width: 847px;
    border: 2px solid #d2d3d7;
    text-align: center;
    margin-left: 1.5%;
}

#a1 {
    font-family: 'athelas';
    font-size: 37pt;
    padding-top: 50px;
}

#a2 {
    font-family: 'quattrocentosans';
    font-size: 16pt;
    margin-top: 25px;
    line-height: 1.4em;
}

#pros {
    margin-top: 60px;
    display: flex;
    justify-content: space-evenly;
}

.verticalLine {
    height: 27px;
    border-left: 2px solid black;
    margin-left: 50%;
    margin-top: -4px;
}

#pros p {
    font-family: 'myriad';
    font-size: 20pt;
    border: 2px solid black;
    padding: 10px 25px;
}

#topfooter {
    height: 300px;
    background-color: #1e2534;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;
}

.footerheader {
    font-family: 'myriad';
    font-size: 18pt;
    margin-bottom: 30px;
}

.footercontent {
    font-family: 'myriad';
    font-size: 17pt;
    margin-bottom: 15px;
}

#phoneandlocation {
    padding-bottom: 62px;
}

#phoneandlocation div {
    font-family: 'myriad';
    line-height: 1.5em;
    align-items: center;
}

.phoneandlocation img {
    margin-right: 20px;
    height: 20px;
    filter: invert(100%) sepia(0%) saturate(7412%) hue-rotate(161deg) brightness(115%) contrast(100%);
}

.phoneandlocation {
    display: flex;
    margin: 10px;
}

.shortdiv {
    padding-bottom: 43px;
}

#bottomfooter {
    height: 90px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#bottomfooter p {
    font-family: 'myriad';
    font-size: 18pt;
    margin-left: 10%;
}


#bottomfooter div {
    margin-right: 10%;
}

#bottomfooter div img {
    border: 1px solid #555;
    padding: 7px 10px;
    margin: 2px;
    height: 25px;
    filter: invert(100%) sepia(0%) saturate(7412%) hue-rotate(161deg) brightness(115%) contrast(100%);
}